<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button  style="color: #ffffff;" (click)="backbutton()"
                    class="toolbar-title"><ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="color: #ffffff;" class="toolbar-title">Payment Request</ion-title>
        <div *ngIf="(viewMode || isRapidCalling) && (modifyMode || isRapidCalling)" slot="end" style="margin-right: 15px;">
            <ion-button style="--background: white; --color: black; --box-shadow: none; --padding-start: 20px; --padding-end: 20px;" shape="round" (click)="save($event)" data-modetype="modify" data-exp="">
                <ion-icon style="color: black; margin-right: 10px;" name="save-outline"> </ion-icon>Save
            </ion-button>
        </div>
        <div *ngIf="!viewMode && !isRapidCalling && !modifyMode" slot="end" style="margin-right: 15px;">
            <ion-button style="--background: white; --color: black; --box-shadow: none; --padding-start: 20px; --padding-end: 20px;" shape="round" (click)="save($event)" data-modetype="normal" data-exp="">
                <ion-icon style="color: black; margin-right: 10px;" name="save-outline"> </ion-icon>Save
            </ion-button>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card style="box-shadow: none; ">
    <div id="myForm" name="myForm" data-eformid="paymentreqst_txn" data-metaSync="false">
        <ion-list class="card_list_padding">
            <ion-item name="ragiditem">
                <ion-label color="primary" position="stacked">Ragid</ion-label>
                <ion-input
                    type="text"
                    placeholder="Ragid"
                    class="input_border"
                    data-label="Ragid"
                    data-id="ragid"
                    data-projectid="16"
                    data-fieldname="ragid"
                    data-eformid="paymentreqst_txn"
                    data-readonly="False"
                    data-required="False"
                    data-allowduplicate="True"
                    data-hidden="False"
                    data-sqldbtype=""
                    data-sqlvalue=""
                    data-sqlvaluedependent="False"
                    data-expression=""
                    data-validateexp=""
                    data-displayorder="1"
                    id="ragid"
                    name="ragid"
                    readonly="False"
                    data-modeOfEntry="tbe"
                    data-suggestive="False"
                    [(ngModel)]="preset_value['ragid']"
                    (ionFocus)="onFocus($event)"
                    (ionBlur)="checkBlur($event)"
                    required
                ></ion-input>
            </ion-item>
            <ion-item name="amountitem">
                <ion-label color="primary" position="stacked">Amount</ion-label>
                <ion-input
                    type="number"
                  
                    data-id="amount"
                   
                    class="input_border"
                    data-readonly=false
                    data-projectid="16"
                    data-fieldname="amount"
                    data-eformid="paymentreqst_txn"
                    data-required="False"
                    data-allowduplicate="True"
                    data-hidden="False"
                    data-sqldbtype=""
                    data-sqlvalue=""
                    data-sqlvaluedependent="False"
                    data-expression=""
                    data-validateexp=""
                    id="amount"
                    name="amount"
                    readonly=false
                    data-modeOfEntry="tbe"
                    data-displayorder="2"
                    data-suggestive="False"
                    [(ngModel)]="preset_value['amount']"
                    (ionFocus)="onFocus($event)"
                    (ionBlur)="checkBlur($event)"
                ></ion-input>
            </ion-item>
            <ion-item id="open-date">
                <ion-label color="primary" position="stacked">Reqest Dt</ion-label>
                <ion-input
                   
                  
                    class="input_border"
                    data-readonly="False"
                    data-label="Reqest Dt"
                    data-projectid="16"
                    data-fieldname="reqdt"
                    data-eformid="paymentreqst_txn"
                    data-id="reqdt"
                    data-required="False"
                    data-allowduplicate="True"
                    data-hidden="False"
                    data-sqldbtype=""
                    data-sqlvalue=""
                    data-sqlvaluedependent="False"
                    data-displayorder="3"
                    data-expression=""
                    data-validateexp=""
                    id="reqdt"
                    name="reqdt"
                    readonly="False"
                    data-modeOfEntry="tbe"
                     [(ngModel)]="preset_value['reqdt']"
                    data-suggestive="False"
                    data-format="date"
                   
                ></ion-input>

                <ion-modal trigger="open-date" show-backdrop="false" id="modaldate">
                  <ng-template>
                    <ion-content>
                      <ion-datetime #Datetime   presentation="date"data-id="reqdt"
                        id="reqdt" name="reqdt"  (ionChange)="dateChange($event, 'reqdt')"
                       (ionFocus)="onFocus($event)" (ionBlur)="checkBlur($event)"showDefaultButtons="true"   >     
                      </ion-datetime>
                    </ion-content>
                  </ng-template>             
                </ion-modal>
            </ion-item>
        </ion-list>
    </div>
</ion-card>
</ion-content>
