<ion-header>
  <ion-toolbar >

    <ion-buttons slot="start">
      <ion-button class="toolbar-title"  (click)="closeModal()">
                    <ion-icon name="close-outline" style="color: white;" ></ion-icon>
                </ion-button>
    </ion-buttons>

    <ion-title style="color: #ffffff; padding-left: 5px;" >Area Measurer</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="locateMe()" shape="round" color="dark" style="background: #ffffff; border-radius: 12px;">
        <ion-icon slot="start" name="locate"></ion-icon>
        Where I Am
      </ion-button>
      <ion-button slot="end" shape="round" (click)="openMapTypeSelecter()" color="dark"
        style="background: #ffffff; border-radius: 12px;">
        <ion-icon name="map-outline" class="top_icons"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true" scroll="false">

  <section class="parent" id="parent">

    <ion-progress-bar type="indeterminate" style="z-index: 4;" color="warning" *ngIf="isLoading"></ion-progress-bar>

   <!--  <div class="info-wrapper">
      <div class="area-text" *ngIf="area">
        <span class="value">{{ area.transformedValue }}</span>
        <span>&nbsp;&nbsp;</span>
        <span class="unit" [innerHTML]="area.unit.label"></span>
      </div>
    </div> -->

    <div  #map id="map"></div >

    <div class="bottom-container">

   

      <div>
        <div class="unit-selector">
          <span *ngIf="area" class="value">{{ area.transformedValue }}</span>
          <ion-select mode="ios" interface="action-sheet" placeholder="Change unit" [value]="selectedUnit" (ionChange)="onUnitChange($event)">
            <ion-select-option [value]="unit" *ngFor="let unit of units"><span>{{ unit.name }}</span></ion-select-option>
          </ion-select>
        </div>
      </div>
      <div>
        <!-- <ion-button class="pin" (click)="onPinClicked()">
          <ion-icon name="pin"></ion-icon>
          <span>&nbsp;&nbsp;</span>
          <span>Pin</span>
        </ion-button> -->
         <ion-button style="--background: #ffffff; color:black;" class="pin" (click)="save()">
          <ion-icon name="checkmark-done"></ion-icon>
          <span>&nbsp;&nbsp;</span>
          <span>Save</span>
        </ion-button>
      </div>
      <div>
       <!--  <ion-button class="download" (click)="onMapDownloadClicked('parent')">
          <ion-icon name="download"></ion-icon>
        </ion-button> -->
        <ion-button class="clear-markers" (click)="onClearMarkersClicked()">
          <ion-icon name="close-circle"></ion-icon>
        </ion-button>
      </div>

    </div>

  </section>

</ion-content>

<ion-select interface="action-sheet" (ionChange)="changeMapStyle()" mode="ios" #mapTypes style="display: none;">
  <ion-select-option value="Normal">Normal</ion-select-option>
  <ion-select-option value="Terrain">Terrain</ion-select-option>
  <ion-select-option value="Satellite">Satellite</ion-select-option>
  <ion-select-option value="Hybrid">Hybrid</ion-select-option>
</ion-select>