<ion-header>
   <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: #ffffff;" defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: #ffffff;">Fertilizer </ion-title> 

     <ion-buttons slot="end">
            <!-- <ion-button color="dark" ion-button (click)="searchToggle()">
                <ion-icon style="color: #ffffff;" class="hd-icon" name="search"></ion-icon>
            </ion-button> -->
        </ion-buttons>
      </ion-toolbar>


</ion-header>

<ion-content class="rpt-background">
    <ion-card style="border-radius: 10px;">
        <form id="fertilizer_rptForm" name="fertilizer_rptForm">
            <div *ngIf="!searchDisplay" class="report_header"></div>
            <div class="custom-card">
                <table class="table" id="fertilizer_rpt_tb" name="fertilizer_rpt_tb">
                    <thead>
                        <th data-expandbt="false" data-hidden="false" data-type="text" data-dontrepeat="false" data-icons="" data-exp="" data-ac="F" data-nod="0" data-idt="ragid">Ragid</th>
                        <th data-expandbt="true" style="width: 10%;"></th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </form>
    </ion-card>
</ion-content>

