:host {
    ion-content {
        // --background: #00B8D4;
    }
       ion-toolbar {
        --background: #007f70;
    }
}


ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 19%; // 50 for center
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.cardButton{
  height: auto;
  border-radius: 10px;
  background-color: brown;
}

.cardButton2{
  height: auto;
  border-radius: 10px;
  background-color: rgb(27, 88, 3);
}

.buttonTitleText{
  color: white;
  font-size: 24px;
  
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.iconContainerCard{
  width: 20px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  border-width: 5px;
  border-color: white;
  align-self: baseline;
}


